h1 {
 text-align: center;
 color: darkblue;
 font-weight:normal;
 text-decoration:underline;
}
p:last-child{
    background-color: red;
}
p.test {
    background-color: darkblue;
    color: white;
    min-height: 100px;
    font-size:1.25rem;
    width:30%;
}
a[href^="https://algoexpert.io"]{
    color: green;
}
a:link {
    color: red;
}
input:focus {
        outline: 2px solid blue;
}
input:invalid:not(:focus) {
    outline: 2px solid red;
}
  